<h1>Payment</h1>
<p>
  A <%=@payment_years%> year loan of $<%=@payment_principal%>,
  with an annual interest rate of <%=@payment_rate%>%, requires a monthly payment of $<%='%.2f' % @payment_output%>.
</p>